@use 'sass:color';

// Global
$font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
$primary-background: #fff;

// Button
$btn-primary-bg: #1365e9;
$btn-primary-hover: color.adjust($btn-primary-bg, $lightness: -30%);
$btn-primary-text: #fff;
$btn-primary-border: #007bff;

$btn-secondary-bg: #6c757d;
$btn-secondary-text: #fff;
$btn-secondary-border: #6c757d;

// Colors
$color-primary-card-background: #fff;
$color-navbar-item-background: #007bff;

// Toasts
$toast-success-bg: #d4edda;
$toast-success-text: #155724;
$toast-success-outline: #b1dfbb;

$toast-failure-bg: #f8d7da;
$toast-failure-text: #721c24;
$toast-failure-outline: #e0a4a9;

// Form
$form-error-color: #e53935;
