@use 'sass:color';

$primary-background: #242424;
$primary-text: rgba(255, 255, 255, 0.87);
$button-background: #007bff;
$button-text: #ffffff;
$button-hover: color.adjust($button-background, $lightness: -10%);
$font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

// _variables.scss
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Existing design tokens
$primary-background: #fff;
$primary-text: #333;
$button-background: #007bff;
$button-text: #ffffff;
$button-hover: color.adjust($button-background, $lightness: -10%);

// Toast
$toast-success-bg: #d4edda;
$toast-success-text: #155724;
$toast-success-outline: #b1dfbb;

$toast-failure-bg: #f8d7da;
$toast-failure-text: #721c24;
$toast-failure-outline: #e0a4a9;
