@use 'sass:map' as map;
@use '../styles/_grid.scss' as grid;
@use '../styles/_variables.scss' as *;

.product-page {
  max-width: 1200px;
  margin: 2rem auto 1rem;
  padding: map.get(map.get(grid.$layout-settings, 'small'), 'padding');
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: map.get(map.get(grid.$layout-settings, 'small'), 'gutter');

  @include grid.respond-to('breakpoint-04') {
    margin: 3rem auto 1.5rem;
    padding: map.get(map.get(grid.$layout-settings, 'medium'), 'padding');
    gap: map.get(map.get(grid.$layout-settings, 'medium'), 'gutter');
  }

  @include grid.respond-to('breakpoint-07') {
    margin: 4rem auto 2rem;
    padding: map.get(map.get(grid.$layout-settings, 'large'), 'padding');
    gap: map.get(map.get(grid.$layout-settings, 'large'), 'gutter');
  }

  .best-cards-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include grid.respond-to('breakpoint-03') {
      flex-direction: row;
      justify-content: center;
    }

    .best-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;
      max-width: 100%;

      @include grid.respond-to('breakpoint-03') {
        max-width: 300px;
      }
    }
  }

  &__divider {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
  }

  .row-cards-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include grid.respond-to('breakpoint-04') {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    .row-cards-column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.product-page__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  height: 100vh;
}
